<h1>Hello Angular!</h1>

<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>

<h2>Directive ngStyle</h2>

<div [ngStyle]="{
  width: '200px',
  height: '200px',
  borderRadius: '5px',
  border: '1px solid #ccc',
  background: backgroundToggle ? 'red' : 'blue'
}"></div>

<hr>

<h2>Directive ngClass</h2>

<p
  [ngClass]="{
    green: backgroundToggle,
    brown: !backgroundToggle
  }"
>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit
</p>

<hr>

<p
  [class.brown]="backgroundToggle"
  [class.green]="!backgroundToggle"
>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</p>
